/*/bin
/*/target
*.xtendbin
*.class
org.bbaw.bts.corpus.text.btsdsl
org.bbaw.bts.corpus.text.btsdsl.tests
org.bbaw.bts.corpus.text.btsdsl.ui
org.bbaw.bts.corpus.text.dsl
org.bbaw.bts.corpus.text.dsl.tests
org.bbaw.bts.corpus.text.dsl.ui
org.bbaw.bts.corpus.text.egy.dsl
org.bbaw.bts.corpus.text.egy.dsl.tests

*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
