<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension id="id" point="org.eclipse.e4.workbench.model">
		<fragment uri="fragment.e4xmi"></fragment>
	</extension>
 <extension
       point="com.opcoach.e4.preferences.e4PreferencePages">
    <page
          category="org.bbaw.bts.ui.main.btsgeneral.page"
          class="org.bbaw.bts.ui.main.preferences.LoginRememberMePage"
          id="org.bbaw.bts.ui.main.rememberme.page"
          name="Remember Me">
    </page>
    <page
          category="org.bbaw.bts.ui.main.btsgeneral.page"
          class="org.bbaw.bts.ui.main.preferences.ProjectSettingsPage"
          id="org.bbaw.bts.ui.main.projectsettings.page"
          name="Project Settings">
    </page>
    <page
          class="org.bbaw.bts.ui.main.preferences.GeneralPage"
          id="org.bbaw.bts.ui.main.btsgeneral.page"
          name="Berlin Text System General">
    </page>
    <page
          category="org.bbaw.bts.ui.main.btsgeneral.page"
          class="org.bbaw.bts.ui.main.preferences.ConfigurationPage"
          id="org.bbaw.bts.ui.main.configuration.page"
          name="Configuration">
    </page>
 </extension>
 <extension
       point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
    <preferenceStoreProvider
          class="org.bbaw.bts.ui.main.preferences.BTSPStoreProvider"
          pluginId="org.bbaw.bts.ui.main">
    </preferenceStoreProvider>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.bbaw.bts.ui.main.preferences.DefaultValuesInitializer">
    </initializer>
 </extension>
</plugin>
