.MTrimmedWindow { 
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.MTrimmedWindow.topLevel { 
    margin-top: 24px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 12px;
}

.MPartStack {
    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    swt-unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    swt-outer-keyline-color: #FFFFFF;
	swt-inner-keyline-color: #FFFFFF;
	font-size: 10;
	swt-simple: false;
	padding: 0px 10px 11px;
	swt-mru-visible: false;
	
	 swt-shadow-visible: true;
	 swt-shadow-color: #EDEACA;
}


Shell {
  background-color: #F5F3ED #F0ECE0 30%;
} 
.MPartStack.active {
	swt-unselected-tabs-color: #E6E3C3 #EDEACA #FFFFFF 100% 100%;
    swt-outer-keyline-color: #BFCDA4;
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #B6BCCC;
}

MPartStack.Composite {
	swt-unselected-tabs-color: #E6E3C3 #EDEACA #FFFFFF 100% 100%;
    swt-outer-keyline-color: #BFCDA4;
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #B6BCCC;
}

#PerspectiveSwitcher  {
	background-color: #F5F3ED #F0ECE0 100%;
	eclipse-perspective-keyline-color: #A7B680 #A7B680;
}

CTabFolder {
	swt-selected-tabs-background: red;
	swt-outer-keyline-color: red;
}
CTabItem:selected { 
	background-color: #E6E3C3;
} 

CTabItem {
	font-style: normal;
	font-weight: normal;
}

CTabItem.busy {
	font-style: italic;
}

CTabItem.highlighted {
	font-weight: bold;
}
Composite {
	background-color: #FFFFFF;
}
ScrolledComposite {
	background-color: #FFFFFF;
}

Group {
	background-color: #FFFFFF;
}

PassportEntryItemEditor {
	background-color: #FFFFFF;
}
PassportEntryGroupEditor {
	background-color: #FFFFFF;
}

Label {
	background-color: #FFFFFF;
	
}
TableItem {
	font-family: FreeSerif;
	font-size: 12px;
}
Table{
	font-family: FreeSerif;
	font-size: 12px;
}

Button {
	background-color: #FFFFFF;
}

* {
	font-size: 12px;
	font-family: FreeSerif;
	
}
Text {
	background-color: #FFFFFF;
}
Link {
	background-color: #FFFFFF;
	
}
ToolBar {
	background-color: #FFFFFF;
}

ToolItem {
	background-color: #FFFFFF;
}


