<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.bbaw.bts.app.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="cssTheme"
               value="org.bbaw.bts.app.theme.olive">
         </property>
         <property
               name="appName"
               value="org.bbaw.bts.app.product">
         </property>
         <!--<property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app.login/org.bbaw.bts.app.login.Login">
         </property>-->
         <property
		name="preferenceCustomization"
		value="plugin_customization.ini"/>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app/org.bbaw.bts.app.lifeCycle.ApplicationLifeCyleManager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive.css"
            id="org.bbaw.bts.app.theme.olive"
            label="Olive Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive_big.css"
            id="org.bbaw.bts.app.theme.oliveBig"
            label="Olive Big Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive_extra_big.css"
            id="org.bbaw.bts.app.theme.oliveExtraBig"
            label="Olive Extra Big Theme">
      </theme>
   </extension>

</plugin>
