<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Berlin Text System"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="cssTheme"
               value="org.bbaw.bts.app.theme.grey">
         </property>
         <property
               name="appName"
               value="Berlin Text System">
         </property>
         <!--<property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app.login/org.bbaw.bts.app.login.Login">
         </property>-->
         <property
		name="preferenceCustomization"
		value="plugin_customization.ini"/>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app/org.bbaw.bts.app.lifeCycle.ApplicationLifeCyleManager">
         </property>
         <property
               name="windowImages"
               value="/org.bbaw.bts.app.product/icons/bts16.bmp,/org.bbaw.bts.app.product/icons/bts32.bmp,/org.bbaw.bts.app.product/icons/bts48.bmp,/org.bbaw.bts.app.product/icons/bts64.bmp,/org.bbaw.bts.app.product/icons/bts128.bmp,/org.bbaw.bts.app.product/icons/bts256.bmp">
         </property>
          <property
               name="applicationCSSResources"
               value="platform:/plugin/org.bbaw.bts.app.product/images/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/grey.css"
            id="org.bbaw.bts.app.theme.grey"
            label="Grey Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/grey_big.css"
            id="org.bbaw.bts.app.theme.greyBig"
            label="Grey Big Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive.css"
            id="org.bbaw.bts.app.theme.olive"
            label="Olive Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive_big.css"
            id="org.bbaw.bts.app.theme.oliveBig"
            label="Olive Big Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/olive_extra_big.css"
            id="org.bbaw.bts.app.theme.oliveExtraBig"
            label="Olive Extra Big Theme">
      </theme>
      <theme
            basestylesheeturi="platform:/plugin/org.bbaw.bts.app/css/grey_extra_big.css"
            id="org.bbaw.bts.app.theme.greyExtraBig"
            label="Grey Extra Big Theme">
      </theme>
   </extension>

</plugin>
