<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.bbaw.bts.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.bbaw.bts.app/css/olive.css">
         </property>
         <property
               name="appName"
               value="org.bbaw.bts.app">
         </property>
         <!--<property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app.login/org.bbaw.bts.app.login.Login">
         </property>-->
         <property
               name="lifeCycleURI"
               value="bundleclass://org.bbaw.bts.app/org.bbaw.bts.app.lifeCycle.ApplicationLifeCyleManager">
         </property>
      </product>
   </extension>

</plugin>
