<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated btsaux -->
      <package
            uri="file:/C:/bts/dtd/btsaux.xsd"
            class="Btsaux.BtsauxPackage"
            genModel="model/btsaux.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated btsaux -->
      <parser
            type="btsaux"
            class="Btsaux.util.BtsauxResourceFactoryImpl"/>
   </extension>

</plugin>
