<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension id="id" point="org.eclipse.e4.workbench.model">
		<fragment uri="fragment.e4xmi"></fragment>
	</extension>
 <extension
       point="org.bbaw.bts.ui.commons.compareViewerFactory">
    <compareViewerFactory
          class="org.bbaw.bts.ui.egy.compare.CompareViewerFactoryEgyTextImpl">
    </compareViewerFactory>
    <compareViewerFactory
          class="org.bbaw.bts.ui.egy.compare.CompareViewerFactoryEgyLemmaImpl">
    </compareViewerFactory>
 </extension>
 <extension
       point="com.opcoach.e4.preferences.e4PreferencePages">
    <page
    category="org.bbaw.bts.ui.main.btsgeneral.page"
          class="org.bbaw.bts.ui.egy.preferences.EgyTextEditorPage"
          id="org.bbaw.bts.ui.corpus.egy.textEditor"
          name="Text Editor">
    </page>
    <page
    category="org.bbaw.bts.ui.corpus.egy.textEditor"
          class="org.bbaw.bts.ui.egy.preferences.SignTextEditorPage"
          id="org.bbaw.bts.ui.corpus.egy.signTextEditor"
          name="Sign Text Editor">
    </page>
    <page
          category="org.bbaw.bts.ui.main.btsgeneral.page"
          class="org.bbaw.bts.ui.egy.preferences.LemmatizerPage"
          id="org.bbaw.bts.ui.corpus.egy.lemmatizerPage"
          name="Lemmatizer">
    </page>
 </extension>
</plugin>
